**Analise de Dados sobre Auxilio Emergencial**
- Fonte: https://www.portaldatransparencia.gov.br/download-de-dados/auxilio-emergencial

In [15]:
import os
import pandas as pd

In [2]:
path_files = r'C:\Workspace\DataAnalytics\Auxilio_Emergencial\csv_aux_emergencial'

In [18]:
for csv_file in os.listdir(path_arquivos):
    path_csv = os.path.join(path_arquivos, csv_file)
    print(f'Carregando CSV - {csv_file}!')
    df_csv = pd.read_csv(path_csv)
    break

Carregando CSV - AuxilioEmergencial.csv!

In [19]:
df_csv.head(5)

   ANO_MES  COD_MUNICIPIO ENQUADRAMENTO PARCELA  TOTAL_PAGO
0   202103        1100023      CADUNICO      1ª       600.0
1   202103        1100023      CADUNICO      2ª       600.0
2   202103        1100023      CADUNICO      3ª       600.0
3   202103        1100023      CADUNICO      4ª       600.0
4   202103        1100023      CADUNICO      5ª       600.0

In [20]:
df_csv.dtypes

ANO_MES            int64
COD_MUNICIPIO      int64
ENQUADRAMENTO     object
PARCELA           object
TOTAL_PAGO       float64
dtype: object

In [11]:
df_csv.shape[0]

16710

**Primeiras analises do dataset para insight de dados**

mar21 = pd.read_csv(path_file_destino, sep=';', encoding='windows_1258') #UTF-8

colunas = {
    "MÊS DISPONIBILIZAÇĂO": "mes"
    ,"UF": "uf"
    ,"CÓDIGO MUNICÍPIO IBGE": "cod_municipio"
    ,"NOME MUNICÍPIO": "municipio"
    ,"NIS BENEFICIÁRIO": "nis_benef"
    ,"CPF BENEFICIÁRIO": "cpf"
    ,"NOME BENEFICIÁRIO": "beneficiario"
    ,"NIS RESPONSÁVEL": "nis_resp"
    ,"CPF RESPONSÁVEL": "cpf_resp"
    ,"NOME RESPONSÁVEL": "nome_resp"
    ,"ENQUADRAMENTO": "enquadra"
    ,"PARCELA": "parc"
    ,"OBSERVAÇĂO": "obs"
    ,"VALOR BENEFÍCIO": "valor"
}

mar21.rename(columns=colunas, inplace=True)

mar21.head()

mar21.dtypes

mar21.uf.unique()

filtro_mar = mar21.dropna(subset=['municipio'])

filtro_mar.head()

pd.to_numeric(filtro_mar["valor"].str.replace(',','.'))

filtro_mar.dtypes

filtro_mar.groupby(["uf","municipio"]).sum("valor")

csv_final = pd.DataFrame(columns={
    "mes": int
    ,"uf": str
    ,"cod_municipio": float
    ,"municipio": str
    ,"nis_benef": float
    ,"cpf": str
    ,"beneficiario": str
    ,"nis_resp": float
    ,"cpf_resp": str
    ,"nome_resp": str
    ,"enquadra": str
    ,"parc": str
    ,"obs": str
    ,"valor": float
})

csv_final.append(filtro_mar)